<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div class="employee-table">
  <table class="table text-center table-striped table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col" *ngFor="let header of headers">{{header | textTransform}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees.Employees">
        <td>{{emp.userId}}</td>
        <td>{{emp.jobTitle}}</td>
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.employeeCode}}</td>
        <td>{{emp.region}}</td>
        <td>{{emp.phoneNumber}}</td>
        <td>{{emp.emailAddress}}</td>
      </tr>
    </tbody>
  </table>
</div>